<div id="bcPLDefaultView">
    <ul>
        <li>
            <label for="bcPLUserName">
                {{:labelUserName}}</label>
            <input type="text" id="bcPLUserName" name="bcPLUserName" />
        </li>
        {{if EnablePassword == 'true'}}
        <li>
            
            <label for="bcPLPassword">{{:labelPassword}}</label>
            <input type="password" id="bcPLPassword" name="bcPLPassword"/>
        </li>
        {{/if}}
        <li>
            <label for="bcPLReason">{{:labelReason}}</label>
            <input type="text" id="bcPLReason" name="bcPLReason"/>
        </li>
        <li>
            <input type="button" id="bcPLProxy" name="bcPLProxy" value="Submit"/>
        </li>
    </ul>
</div>
